html, body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #3399ff;
    letter-spacing: -1px;

    &:active,
    &:visited,
    &:hover,
    &:link {
        text-decoration: none;
    }
}

h1 {
    margin: 10px 0px;
}

h2 {
    margin: 0px 0px 10px 0px;
}

::selection {
    background-color: #000;
    color: #FFF;
}
::-moz-selection {
    background-color: #000;
    color: #FFF;
}

#treeView {

    border-bottom: 1px solid #BBB;
    border-right: 1px solid #BBB;

    .item {
        border-top: 1px solid #BBB;
        border-left: 1px solid #BBB;
        margin-left: 20px;
        background-color: #FFF;
    }

    > .item {
        margin-left: 0px;
    }

    .menu {
        padding: 5px;

        .commands {
            margin: 0px 20px;
        }

        .info {
        }
    }

    .icon {
        width: 20px;
        height: 20px;
    }

    .pointer {
        cursor: pointer;
    }

    .addComponent {
        position: absolute;
        border: 1px solid #BBB;
        background-color: #FFF;
        padding: 20px;

        .ok, .cancel {
            width: 30px;
            height: 30px;
        }

        .action {
            text-align: right;
            margin-top: 10px;
        }
    }
}