html, body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
    margin: 0px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #3399ff;
    letter-spacing: -1px;

    &:active,
    &:visited,
    &:hover,
    &:link {
        text-decoration: none;
    }
}

select {
    background: transparent;
    border: 1px solid #BBB;
    padding: 3px;
}

h1 {
    margin: 10px 0px;
}

h2 {
    margin: 0px 0px 10px 0px;
}

::selection {
    background-color: #000;
    color: #FFF;
}
::-moz-selection {
    background-color: #000;
    color: #FFF;
}

#editor {
    width: 40%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
}

#treeWrap {

    width: 57%;
    position: fixed;
    top: 0px;
    left: 40%;
    height: 100%;
    padding: 0px 20px;
    overflow-y: auto;
}

#treeView {

    border-bottom: 1px solid #BBB;
    border-right: 1px solid #BBB;

    .item {
        border-top: 1px solid #BBB;
        border-left: 1px solid #BBB;
        margin-left: 20px;
        background-color: #FFF;
    }

    > .item {
        margin-left: 0px;
    }

    .menu {
        padding: 5px;

        .commands {
            margin: 0px 20px;
        }

        .layoutData {
            // color: #666;
            // margin: 0px 5px;
            float: right;
            font-style: italic;
            font-weight: bold;
            color: #3399ff;
            letter-spacing: -1px;
            cursor: pointer;
            position: relative;

            .label {
                padding: 0px 5px;
            }
        }
    }

    .icon {
        width: 20px;
        height: 20px;
    }

    .pointer {
        cursor: pointer;
    }

    .modal {
        position: fixed;
        border: 1px solid #BBB;
        background-color: #FFF;
        padding: 20px;
        min-width: 380px;
        z-index: 2;

        .ok, .cancel {
            width: 30px;
            height: 30px;
        }

        .action {
            text-align: right;
            margin-top: 10px;
        }
    }

    .dropdown {
        position: absolute;
        right: 0px;
        border: 1px solid #BBB;
        background-color: #FFF;
        z-index: 2;

        .option {
            //text-align: right;
            padding: 5px;
        }
    }

    .JSONError {
        padding: 5px;
        color: #eff1f5;
        background: #bf616a;
        border-top: 1px solid #BBB;
        border-left: 1px solid #BBB;
    }
}

